<div class="container-fluid d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="" style="text-decoration: none;">
                    <p class="h5" style="color: #000;font-size: 16px;margin-top: 60px;margin-bottom: 20px;">
                        Quick Access</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Airtel Black Bill
                        Payment</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Prepaid Recharge</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Postpaid Bill Payment
                    </p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">DTH
                        Recharges</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Broadband Payment</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Exciting Offers</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Airtel Payments Bank
                    </p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Airtel Thanks App</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Free Sim Delivery</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Telecom Tariff</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Rights Issue</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">QIP
                        & FCCB Issue</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Terms & Conditions</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 40px;">
                        Airtel Blogs</p>
                </a>
            </div>
            <div class="col">
                <a href="" style="text-decoration: none;">
                    <p class="h5" style="color: #000;font-size: 16px;margin-top: 60px;margin-bottom: 20px;">Help
                        at Hand</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Find a store</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Check Coverage</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Ownership Transfer</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Manage Your account</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">ISP
                        Near Me</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Wynk Music</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Broadband FAQs</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 14px;color: #393939;margin-bottom: 12px;">DTH
                        FAQs</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Airtel Xstream FAQs</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Postpaid FAQs</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Stores near me</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">DTH
                        Consumer Corner</p>
                </a>
            </div>
            <div class="col">
                <a href="" style="text-decoration: none;">
                    <p class="h5" style="color: #000;font-size: 16px;margin-top: 60px;margin-bottom: 20px;">New
                        Connections</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">Buy
                        DTH New Connection
                    </p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">Buy
                        Prepaid New
                        Connection</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">Buy
                        Postpaid New
                        Connection</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">Buy
                        Broadband New
                        Connection</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">Buy
                        Airtel Black Plan
                    </p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">Buy
                        Xstream Box</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Switch to Airtel</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        International Roaming
                    </p>
                </a>
            </div>
            <div class="col">
                <a href="" style="text-decoration: none;">
                    <p class="h5" style="color: #000;font-size: 16px;margin-top: 60px;margin-bottom: 20px;">
                        About Airtel</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Brand</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Career</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Partner</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Business</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        About Airtel</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Press Release</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Investor Support</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Telecom Charter</p>
                </a>
                <a href="" style="text-decoration: none;">
                    <p class="h6" style="color: #393939;font-size: 12px;color: #393939;margin-bottom: 12px;">
                        Airtel Community</p>
                </a>
            </div>
            <div class="col main20">
                <a href="" style="text-decoration:none">
                    <p class="h4" style="word-spacing: 10px;color: #e40000;margin-top: 60px;;"> BACK
                        TO TOP <img src="assets/images/back-to-top.png" alt="">
                    </p>
                </a>
                <ul>
                    <li><img src="assets/images/facebook.png" alt=""></li>
                    <li><img src="assets/images/linkedin.png" alt=""></li>
                    <li><img src="assets/images/twitter.png" alt=""></li>
                    <li><img src="../../../assets/images/youtube.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <p class="h5" style="font-size: 15px; color:#393939;word-spacing:5px;"><a href=""
                        style="text-decoration: none;color:#000">IMPORTANT</a>&nbsp;<a href=""
                        style="text-decoration: none;color:#000">ALERTS
                        PRIVACYPOLICY</a>&nbsp;<a href=""
                        style="text-decoration: none;color:#000">COOKIENOTICE</a>&nbsp;<a href=""
                        style="text-decoration: none;color:#000">DLTREGISTRATION FOR COMMERCIAL
                        COMMUNICATION</a>&nbsp;
                    <a href="" style="text-decoration: none;color:#000">DO NOT DISTURBLIST</a>&nbsp;<a href=""
                        style="text-decoration: none;color:#000">CONTACTUS</a> <img
                        src="assets/images/bsi-assurance-iso.png" alt=""
                        style="margin-left: 70px;margin-right: 20px;"><img src="assets/images/norton-certificate.png"
                        alt="">©
                    2022 Airtel India. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- mobile mode  -->
<div class="container-fluid d-block d-md-none">
    <div class="row">
        <div class="col main20_1">
            <p class="h5"
                style="word-spacing: 10px;color: #e40000;margin-top: 60px;margin-bottom: 40px;text-align: center;">
                BACK TO TOP <img src="../../../assets/images/back-to-top.png" alt="">
            </p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            QUICK ACCESS
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"><a href="" style="text-decoration: none;">
                                <p class="h5" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Airtel Black Bill
                                    Payment</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Prepaid Recharge</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Postpaid Bill Payment
                                </p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    DTH
                                    Recharges</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Broadband Payment</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Exciting Offers</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Airtel Payments Bank
                                </p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Airtel Thanks App</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Free Sim Delivery</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Telecom Tariff</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Rights Issue</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    QIP
                                    & FCCB Issue</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Terms & Conditions</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 40px;">
                                    Airtel Blogs</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            HELP AT HAND
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"><a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Find a store</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Check Coverage</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Ownership Transfer</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Manage Your account</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    ISP
                                    Near Me</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Wynk Music</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Broadband FAQs</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    DTH
                                    FAQs</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Airtel Xstream FAQs</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Postpaid FAQs</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Stores near me</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    DTH
                                    Consumer Corner</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            NEW CONNECTIONS
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"><a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Buy
                                    DTH New Connection
                                </p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Buy
                                    Prepaid New
                                    Connection</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Buy
                                    Postpaid New
                                    Connection</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Buy
                                    Broadband New
                                    Connection</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Buy
                                    Airtel Black Plan
                                </p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Buy
                                    Xstream Box</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Switch to Airtel</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    International Roaming
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree1" aria-expanded="false"
                            aria-controls="flush-collapseThree1">
                            ABOUT AIRTEL
                        </button>
                    </h2>
                    <div id="flush-collapseThree1" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"><a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Brand</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Career</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Partner</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Business</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    About Airtel</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Press Release</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Investor Support</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Telecom Charter</p>
                            </a>
                            <a href="" style="text-decoration: none;">
                                <p class="h6" style="color: #e40000;font-size: 17px;margin-bottom: 12px;">
                                    Airtel Community</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
                <li><img src="assets/images/facebook.png" alt=""></li>
                <li><img src="assets/images/linkedin.png" alt=""></li>
                <li><img src="assets/images/twitter.png" alt=""></li>
                <li><img src="assets/images/youtube.png" alt=""></li>
            </ul>
            <p class="h6 mb-3" style="color: #393939;font-size: 12px;"><a href=""
                    style="text-decoration: none;color:#000">IMPORTANT ALERTS</a></p>
            <p class="h6 mb-3" style="color: #393939;font-size: 12px;"><a href=""
                    style="text-decoration: none;color:#000">PRIVACY POLICY </a></p>
            <p class="h6 mb-3" style="color: #393939;font-size: 12px;"><a href=""
                    style="text-decoration: none;color:#000">COOKIE NOTICE</a></p>
            <p class="h6 mb-3" style="color: #393939;font-size: 12px;"><a href=""
                    style="text-decoration: none;color:#000">DLT REGISTRATION FOR COMMERCIAL
                    COMMUNICATION</a>
            </p>
            <p class="h6 mb-3" style="color: #393939;font-size: 12px;"><a href=""
                    style="text-decoration: none;color:#000">DO NOT DISTURB LIST</a></p>
            <p class="h6 mb-3" style="color: #393939;font-size: 12px;"><a href=""
                    style="text-decoration: none;color:#000">CONTACT US </a></p>
            <img src="assets/images/bsi-assurance-iso1.png" alt="" class="me-1 mb-3">
            <img src="assets/images/norton-certificate.png" alt="" class="mb-3">
            <p style="color: #393939;font-size: 12px;margin-bottom: 20px;">© 2022 Airtel India. All Rights
                Reserved.</p>
        </div>
    </div>
</div>