<a target="_blank" href="https://wa.me/9310949314?text=thankyou%20for%20visiting"><img
        src="assets/images/whatsapp logo.png" alt="" class="logo"></a>
<div class="container-fluid d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col ms-5 mt-4">
                <p class="display-5 ps-5">Find Airtel in</p>
                <hr>
            </div>
            <div class="col">
                <div style="width: 500px;height:50px;margin-top: 35px;">
                    <input type="text" placeholder="City or Pincode" class="search">
                    <img src="assets/images/magnifier.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="row mt-5">
                    <div class="col">
                        <div class="main4">
                            <span><img src="assets/images/red-dot.png" alt=""></span>
                            <span style="font-size: 14px;">Airtel Store</span>
                        </div>

                    </div>
                    <div class="col">
                        <div class="main4_2">
                            <span><img src="assets/images/black-dot.png" alt=""> </span>
                            <span style="font-size: 14px;">Express</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="main4_3">
                            <span><img src="assets/images/yellow-dot.png" alt=""></span>
                            <span style="font-size: 14px;">BankingPoints</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile mode -->
<div class="container-fluid d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col mt-4">
                <p class="display-5">Find Airtel in</p>
            </div>
            <div class="col">
                <div style="width: 400px;height:50px;">
                    <input type="text" placeholder="City or Pincode" class="search1">
                    <img src="assets/images/magnifier.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="row my-3">
                    <div class="col">
                        <div class="main4">
                            <span><img src="assets/images/red-dot.png" alt=""></span>
                            <span style="font-size: 14px;">Airtel Store</span>
                        </div>

                    </div>
                    <div class="col">
                        <div class="main4_2">
                            <span><img src="assets/images/black-dot.png" alt=""> </span>
                            <span style="font-size: 14px;">Express</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="main4_3">
                            <span><img src="assets/images/yellow-dot.png" alt=""></span>
                            <span style="font-size: 14px;">BankingPoints</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col ms-md-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15280114.312265646!2d73.72997399968843!3d20.771185748183196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1667216806589!5m2!1sen!2sin"
                width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="imag13"></iframe>
        </div>
    </div>
</div>
<div class="container-fluid d-none d-md-block" style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <p class="display-5 ms-5" style="font-weight: 400;">The fastest way<br>to get answers:
                    <span style="color: #e40000;"><br>Online help</span>
                </p>
            </div>
            <div class="col me-5">
                <p class="h6" style="margin-bottom: 80px;">If you need help, explore our online<br>
                    help page and find your anwsers!</p>
                <p class="h6" style="color: #e40000;cursor: pointer;">GET HELP<svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="13" y1="18" x2="19" y2="12"></line>
                        <line x1="13" y1="6" x2="19" y2="12"></line>
                    </svg></p>
            </div>
            <div class="col">
                <img src="assets/images/smartphone-hand.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- mobile mode -->
<div class="container-fluid d-block d-md-none" style="background-color: #b50a02;">
    <div class="container">
        <div class="row py-4">
            <div class="col row-cols-sm-10">
                <p class="display-5" style="font-weight: 400;color: #fff;">The fastest way to get<br>
                    answers:
                    <span style="color: #fdc400;margin-top: 10px;"><br>Online help</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="h6" style="font-size:14px;color: #fff;">Explore our Help page<br>
                    and find the solution.</p>
                <p class="h6" style="color: #fff;cursor: pointer;margin-top: 20px;">GET HELP<svg
                        xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="13" y1="18" x2="19" y2="12"></line>
                        <line x1="13" y1="6" x2="19" y2="12"></line>
                    </svg></p>
            </div>
            <div class="col">
                <img src="assets/images/smartphone-hand-white.png" alt="" class="ms-5">
            </div>
        </div>
    </div>
</div>