        .main {
            border-top: 1px solid #000;
        }

        .carousel-indicators [data-bs-target] {
            box-sizing: content-box;
            flex: 0 1 auto;
            width: 100px;
            height: 3px;
            padding: 0;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #e40000;
            background-clip: padding-box;
            border: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: .5;
            transition: opacity .6s ease;
        }

        .main2 {
            background-image: linear-gradient(135deg, #b00, #8d0000);
        }

        .btnd {
            width: 100px;
            height: 35px;
            background-color: #e40000;
            margin-left: 300px;
            cursor: pointer;
            border: none;
        }

        .btn1d {
            width: 100px;
            height: 35px;
            background-color: #e40000;
            margin-left: 40px;
            border: none;
            border-radius: 5px;
        }

        .main3 {
            width: 620px;
            height: 50px;
            background-color: #fff;
            border-radius: 5px;
        }

        .main3 input {
            outline: none;
            border: none;
            padding-left: 15px;
            text-align: left;
            margin-top: 12px;
        }

        .main3_1 {
            width: 350px;
            height: 50px;
            background-color: #fff;
            border-radius: 5px;
            margin-left: -10px;
        }

        .main3_1 input {
            outline: none;
            border: none;
            padding-left: 10px;
            text-align: left;
            margin-top: 10px;
        }

        @media (max-width: 575.98px) {
            .main4 {
                color: #fff;
                text-align: center;
                margin-top: 10px;
            }
        }

        @media (max-width: 575.98px) {
            .img2 {
                width: 390px;
                height: 337px;
            }
        }

        .main6 {
            margin-top: 10px;
            margin-left: 20px;
        }

        .btn2 {
            width: 280px;
            height: 60px;
            border-radius: 50px;
            background-color: #8d0000;
            border: none;
            color: #fff;
            font-size: 20px;
            margin-top: 40px;
            word-spacing: 5px;
        }

        .btn2_1 {
            width: 230px;
            height: 50px;
            border-radius: 50px;
            background-color: #8d0000;
            border: none;
            color: #fff;
            font-size: 15px;
            margin-top: 20px;
            margin-left: 55px;
        }

        .main7 {
            width: 35px;
            border-bottom: 4px solid #e40000;
            border-radius: 2px;
        }

        .main8 {
            width: 35px;
            border-bottom: 4px solid #fff;
            border-radius: 2px;
        }

        .main8_1 {
            width: 35px;
            border-bottom: 4px solid #e40000;
            border-radius: 2px;
        }

        .card-title {
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
        }

        .main11 {
            height: 100%;
            width: 100%;
            background-image: url(https://assets.airtel.in/static-assets/new-home/img/white-pattern.svg);
            background-size: cover;
            background-position: 50%;
            background-color: #8d0000;
        }

        .main12 {
            height: 100%;
            width: 100%;
            background-image: url(https://assets.airtel.in/static-assets/new-home/img/white-pattern.svg);
            background-size: cover;
            background-position: 50%;
            background-color: #8d0000;
        }

        .main13 {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: 50%;
            background-color: #e9e2d0;
        }

        .main10 {
            height: 100%;
            width: 100%;
            background-image: url(https://assets.airtel.in/static-assets/new-home/img/white-pattern.svg);
            background-position: 50%;
            background-color: #8d0000;
            background-repeat: no-repeat;
        }

        .main10_1 {
            height: 100%;
            width: 100%;
            background-image: url(https://assets.airtel.in/static-assets/new-home/img/white-pattern.svg);
            background-position: 50%;
            background-color: #bd0000;
            background-repeat: no-repeat;
        }

        .btn3 {
            width: 150px;
            height: 50px;
            border-radius: 5px;
            border: none;
            outline: none;
            color: #e40000;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .btn3_1 {
            width: 200px;
            height: 50px;
            border-radius: 5px;
            border: none;
            outline: none;
            color: #e40000;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .img1 {
            margin-left: 300px;
        }

        .btn4 {
            width: 320px;
            height: 50px;
            background-color: #e40000;
            border: none;
            color: #fff;
        }

        .btn4_1 {
            width: 130px;
            height: 40px;
            background-color: #e40000;
            border: none;
            color: #fff;
        }

        .google1 {
            margin-right: -40px;
            margin-top: 5px;
        }

        /* <!-- style="margin-top:80px;margin-bottom: 80px;margin-left: 120px;"> --> */
        @media (min-width: 992px) {
            .wynk {
                margin-top: 80px;
                margin-bottom: 80px;
                margin-left: 120px;
            }
        }

        @media (max-width: 575.98px) {
            .imag {
                width: 187px;
                height: 362px;
                margin-left: -25px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 575.98px) {
            .imag1 {
                width: 169px;
                height: 20px;
            }
        }

        @media (max-width: 575.98px) {
            .imag2 {
                font-size: 17px;
                margin-top: 25px;
            }
        }

        @media (max-width: 575.98px) {
            .imag3 {
                font-size: 12px;
            }
        }

        @media (max-width: 575.98px) {
            .imag4 {
                width: 80px;
                height: 32px;
            }
        }

        @media (max-width: 575.98px) {
            .imag5 {
                width: 80px;
                height: 38px;
                margin-left: -6px;
                margin-top: 3px;
            }
        }

        @media (max-width: 575.98px) {
            .btn2 {
                width: 200px;
                height: 50px;
                margin-left: 60px;
                font-size: 15px;
            }
        }

        @media (max-width: 575.98px) {
            .enj {
                font-size: 18px;
            }
        }

        @media (max-width: 575.98px) {
            .imag7 {
                margin-left: 100px;
            }
        }

        @media (max-width: 575.98px) {
            .imag9 {
                margin-left: -5px;
            }
        }

        @media (max-width: 575.98px) {
            .imag12 {
                margin-left: -20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 575.98px) {
            .res {
                font-size: 12px;
            }
        }

        @media (max-width: 575.98px) {
            .crd {
                margin-left: -16px;
                margin-right: 8px;
            }
        }

        @media (min-width: 992px) {
            .Ar {
                margin-top: 50px;
            }
        }

        .txt {
            color: #fff;
            border: 1px solid #fff;
        }

        .txt:hover {
            color: #e40000;
            background-color: #fff;
        }