<div id="carouselExampleIndicators" class="carousel slide main" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>x
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#" routerLink="../carousel" routerLinkActive="carousel">
                <picture>
                    <source srcset="assets/images/banner-1_1.jpg" media="(max-width:576px)">
                    <img src="assets/images/banner-1.jpg" class="d-block w-100" alt="...">
                </picture>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" routerLink="../carousel" routerLinkActive="carousel">
                <picture>
                    <source srcset="assets/images/banner-2_1.jpg" media="(max-width:576px)">
                    <img src="assets/images/banner-2.jpg" class="d-block w-100" alt="...">
                </picture>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" routerLink="../carousel" routerLinkActive="carousel">
                <picture>
                    <source srcset="assets/images/banner-3_1.jpg" media="(max-width:576px)">
                    <img src="assets/images/banner-3.jpg" class="d-block w-100" alt="...">
                </picture>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" routerLink="../carousel" routerLinkActive="carousel">
                <picture>
                    <source srcset="assets/images/banner-4_1.jpg" media="(max-width:576px)">
                    <img src="assets/images/banner-4.jpg" class="d-block w-100" alt="...">
                </picture>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" routerLink="../carousel" routerLinkActive="carousel">
                <picture>
                    <source srcset="assets/images/banner-5_1.jpg" media="(max-width:576px)">
                    <img src="assets/images/banner-5.jpg" class="d-block w-100" alt="...">
                </picture>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#" routerLink="../carousel" routerLinkActive="carousel">
                <picture>
                    <source srcset="assets/images/banner-6_1.jpg" media="(max-width:576px)">
                    <img src="assets/images/banner-6.jpg" class="d-block w-100" alt="...">
                </picture>
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid main2">
    <div class="container">
        <div class="row text-left">
            <div class="col text-white my-4 ">
                <p class="h3 main4">Recharge & Pay bills</p>
                <p class="h5 main4">Get exciting cashback and offers</p>
            </div>
            <div class="col mt-3">
                <div class="row">
                    <div class="col">
                        <nav>
                            <div class="nav nav-tabs res" id="nav-tab" role="tablist" style="border: none;">
                                <button class="nav-link active text-danger" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true" style="border: 1px solid #fff;"><img
                                        src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1667288412443"
                                        alt="Prepaid" width="24" height="24">Prepaid</button>

                                <button class="nav-link txt ms-md-2 ms-3" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false" style="border: 1px solid #fff;"><img
                                        src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1667288412443"
                                        alt="Postpaid" width="24" height="24">Postpaid</button>

                                <button class="nav-link txt ms-md-2 me-md-2 me-0 ms-4" id="nav-contact-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab"
                                    aria-controls="nav-contact" aria-selected="false"
                                    style="border: 1px solid #fff;"><img
                                        src="https://assets.airtel.in/static-assets/new-home/img/services-dth.svg?v=1667288412443"
                                        alt="DTH" width="24" height="24">DTH</button>

                                <button class="nav-link txt ms-5 ms-md-0 mt-md-0 mt-2 me-2 me-md-0"
                                    id="nav-Broadband-tab" data-bs-toggle="tab" data-bs-target="#nav-Broadband"
                                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false"
                                    style="border: 1px solid #fff;"><img
                                        src="https://assets.airtel.in/static-assets/new-home/img/services-broadband.svg?v=1667288412443"
                                        alt="Broadband" width="24" height="24">Broadband</button>

                                <button class="nav-link txt ms-2 mt-md-0 mt-2" id="nav-Black-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-Black" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false" style="border: 1px solid #fff;"><img
                                        src="https://assets.airtel.in/static-assets/new-home/img/service-thanks.svg?v=1667288412443"
                                        alt="AirtelBlack" width="24" height="24">Airtel Black</button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab" tabindex="0">
                                <div class="main3 d-none d-md-block">
                                    <input type="tel" placeholder="Enter Mobile Number">
                                    <button class="btnd text-white">Recharge</button>
                                </div>
                                <div class="main3_1 d-block d-md-none">
                                    <input type="tel" placeholder="Enter Mobile Number">
                                    <button class="btn1d text-white">Recharge</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab" tabindex="1">
                                <div class="main3 d-none d-md-block">
                                    <input type="tel" placeholder="Enter Mobile Number">
                                    <button class="btnd text-white">Pay Bill</button>
                                </div>
                                <div class="main3_1 d-block d-md-none">
                                    <input type="tel" placeholder="Enter Mobile Number">
                                    <button class="btn1d text-white">Pay Bill</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab" tabindex="2">
                                <div class="main3 d-none d-md-block">
                                    <input type="tel" placeholder="Registered mobile/ID">
                                    <button class="btnd text-white">Recharge</button>
                                </div>
                                <div class="main3_1 d-block d-md-none">
                                    <input type="tel" placeholder="Registered mobile/ID">
                                    <button class="btn1d text-white">Recharge</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-Broadband" role="tabpanel"
                                aria-labelledby="nav-Broadband-tab" tabindex="3">
                                <div class="main3 d-none d-md-block">
                                    <input type="tel" placeholder="Registered mobile/ID">
                                    <button class="btnd text-white">Pay Bill</button>
                                </div>
                                <div class="main3_1 d-block d-md-none">
                                    <input type="tel" placeholder="Registered mobile/ID">
                                    <button class="btn1d text-white">Pay Bill</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-Black" role="tabpanel" aria-labelledby="nav-Black-tab"
                                tabindex="4">
                                <div class="main3 d-none d-md-block">
                                    <input type="tel" placeholder="Enter Registered Mobile Number">
                                    <button class="btnd text-white">Pay Bill</button>
                                </div>
                                <div class="main3_1 d-block d-md-none">
                                    <input type="tel" placeholder="Enter Registered Mobile Number">
                                    <button class="btn1d text-white">Pay Bill</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#f2f4f5;">
    <div class="container">
        <div class="row">
            <div class="col my-4 me-5">
                <p class="h1">EXPERIENCE OUR SERVICES </p>
            </div>
        </div>
        <div class="row row-cols-lg-6 row-cols-2" style="cursor: pointer;">
            <div class="col crd">
                <div class="card" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <a href="#"><img src="assets/images/services-sim.png" alt=""></a>
                        <p class="h5 mt-4">Buy<br>Prepaid</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-sim.png" alt=""></span>
                        <p class="h5 mt-4">Buy<br>Postpaid</p>
                    </div>
                </div>
            </div>
            <div class="col crd">
                <div class="card my-2 my-md-0" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-broadband.png" alt=""></span>
                        <p class="h5 mt-4">Buy<br>Broadband</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-2 my-md-0" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-dth.png" alt=""></span>
                        <p class="h5 mt-4">Buy<br>DTH</p>
                    </div>
                </div>
            </div>
            <div class="col crd">
                <div class="card" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-xstream.png" alt=""></span>
                        <p class="h5 mt-4">Buy<br>Xstream</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-porttoairtel.png" alt=""></span>
                        <p class="h5 mt-4">Port<br>to Airtel</p>
                    </div>
                </div>
            </div>
            <div class="col crd">
                <div class="card my-md-4 my-2" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-pretopost.png" alt=""></span>
                        <p class="h5 mt-4">Prepaid<br>to Postpaid</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-md-4 my-2" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/airtel-black.png" alt=""></span>
                        <p class="h5 mt-4">Upgrade to<br>Airtel Black</p>
                    </div>
                </div>
            </div>
            <div class="col crd">
                <div class="card my-md-4 my-2" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/airtel-payments-bank.png" alt=""></span>
                        <p class="h5 mt-4">Airtel<br>Payments Back</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-md-4 my-2" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/services-ir.png" alt=""></span>
                        <p class="h5 mt-4">International<br>Roaming</p>
                    </div>
                </div>
            </div>
            <div class="col crd">
                <div class="card my-md-4 mb-3 mb-md-3" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/service-business-postpaid.png" alt=""></span>
                        <p class="h5 mt-4">Business<br>Postpaid</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-md-4" style="width: 11rem;height: 8rem;">
                    <div class="card-body">
                        <span><img src="assets/images/office_internet_dweb.png" alt=""></span>
                        <p class="h5 mt-4">Office<br>Internet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #101010;">
    <div class="container">
        <div class="row">
            <div class="col mt-5 mb-2 text-left">
                <img src="assets/images/airtel-black-white.png" alt="" class="imag7">
                <p class="h1 text-white  mt-5 d-none d-md-block">Enjoy first
                    <b>30 days free</b>
                    of a<br>new service with Airtel Black
                </p>
                <p class="h2 text-white mt-5 enj d-block d-md-none text-center">Enjoy first
                    <b>30 days free</b>
                    of a new service<br>with Airtel Black
                </p>
                <p class="h4 mt-4 d-none d-md-block text-left"
                    style="color:#979797; font-size: 20px;word-spacing: 5px;">
                    Airtel Black lets
                    you combine (two or
                    more services)
                    DTH, postpaid & fiber
                    into one plan. Get a plan that's
                    perfect for
                    <br> you & your family.
                </p>
                <p class="h4 mt-4 d-block d-md-none text-center" style="color:#979797; font-size: 12px;">
                    Airtel Black lets
                    you combine (two or
                    more services)
                    DTH,<br>postpaid & fiber
                    into one plan. Get a plan that's
                    perfect for
                    you & your family.
                </p>
                <button class="btn2">EXPLORE AIRTEL BLACK</button>
            </div>
            <div class="col">
                <picture>
                    <source srcset="assets/images/airtel-black-(2).png" media="(max-width:576px)">
                    <img src="assets/images/airtel-black (1).png" alt="" class="mt-5">
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <div class="row">
                    <div class="col">
                        <p class="h4 mt-5">POSTPAID</p>
                        <p class="main7"></p>
                        <p class="h2 mt-4">AIRTEL POSTPAID<br>STARTING AT <span
                                style="color: #e40000;">&#8377;499</span>
                        </p>
                        <P class="h5 mt-4"> Unlimited calling, 75GB data,Amazon prime,<br>Airtel Xstream and
                            many more
                        </P>
                        <p class="h6 mt-5 mb-2"> Choose from our</p>
                        <p class="h4">Best selling Postpaid plans</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-body mt-4"
                            style="width: 140px; height:110px;box-shadow: 0px 0px 5px 0px #000;">
                            <h6 class="card-title pt-2">Monthly rental of</h6>
                            <p class="h2 card-text text-center mt-2 ">&#8377;999</p>
                            <p class="h6 text-center"><span style="color: #e40000;">Buy Now</span></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body mt-4"
                            style="width: 140px; height:110px;box-shadow: 0px 0px 5px 0px #000;">
                            <h6 class="card-title pt-2">Monthly rental of</h6>
                            <p class="h2 card-text text-center mt-2 ">&#8377;499</p>
                            <p class="h6 text-center"><span style="color: #e40000;">Buy Now</span></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body mt-4"
                            style="width: 140px; height:110px;box-shadow: 0px 0px 5px 0px #000;margin-right: 160px;">
                            <h6 class="card-title"></h6>
                            <p class="h2 card-text text-left mt-2 ms-3"><img src="assets/images/show-more.png" alt="">
                            </p>
                            <p class="h6 text-left ms-3 mt-4">
                                <span style="color:#e40000;">View<br>More</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"><img src="assets/images/airtel-postpaid.png" alt="" class="mt-md-5"></div>
        </div>
    </div>
</div>
<!-- mobile mode -->
<div class="container-fluid d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <div class="row">
                    <div class="col">
                        <p class="h6 mt-4">POSTPAID</p>
                        <p class="main7"></p>
                        <p class="h6 mt-4" style="font-size: 18px;">AIRTEL POSTPAID STARTING AT <span
                                style="color: #e40000;">&#8377;499</span>
                        </p>
                        <P class="h6 mt-3" style="font-size: 11px;"> Unlimited calling, 75GB data,<br>Amazon
                            prime,Airtel Xstream and<br>
                            many more
                        </P>
                        <p class="h6 mt-4 mb-2" style="font-size: 12px;"> Choose from our</p>
                        <p class="h6" style="font-size: 13px;">Best selling Postpaid plans</p>
                    </div>
                    <div class="col"><img src="assets/images/airtel-postpaid1.png" alt="" class="w-100"
                            style="margin-top: 80px; margin-left: 30px;"></div>
                </div>
                <div class="row">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="col">
                                <div class="card-body mb-1"
                                    style="width: 130px; height:110px;box-shadow: 0px 0px 5px 0px #000;margin-top: -7px;">
                                    <h6 class="card-title pt-2">Monthly rental of</h6>
                                    <p class="h2 card-text text-center mt-2 ">&#8377;999</p>
                                    <p class="h6 text-center"><span style="color: #e40000;">Buy Now</span></p>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="col">
                                <div class="card-body"
                                    style="width: 130px; height:110px;box-shadow: 0px 0px 5px 0px #000;margin-top: -7px;">
                                    <h6 class="card-title pt-2">Monthly rental of</h6>
                                    <p class="h2 card-text text-center mt-2 ">&#8377;499</p>
                                    <p class="h6 text-center"><span style="color: #e40000;">Buy Now</span></p>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="col">
                                <div class="card-body"
                                    style="width: 130px; height:110px;box-shadow: 0px 0px 5px 0px #000;margin-top: -7px;">
                                    <h6 class="card-title pt-1"></h6>
                                    <p class="h2 card-text text-left mt-2 pb-2 ms-2"><img
                                            src="assets/images/show-more1.png" alt="" style="height:24px;width: 24px;">
                                    </p>
                                    <p class="h6 text-left ms-2">
                                        <span style="color: #e40000;">View<br>More</span>
                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main11">
    <div class="container">
        <div class="row">
            <div class="col my-4 ms-md-5 ms-3 order-2 order-md-1">
                <img src="assets/images/airtel-international-roaming.png" alt="">
            </div>
            <div class="col order-1 order-md-2 Ar">
                <p class="h4 text-white mt-5">PORT TO AIRTEL</p>
                <p class="main8"></p>
                <p class="h1 text-white">Switch to Airtel
                    without changing
                    your
                    mobile<br>number</p>
                <button class="btn3">VIEW PLANS<svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="13" y1="18" x2="19" y2="12"></line>
                        <line x1="13" y1="6" x2="19" y2="12"></line>
                    </svg></button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row text-center">
                    <div class="col">
                        <img src="assets/images/xstream-logo.png" alt="" class="mt-4">
                    </div>
                </div>
                <div class="row text-center ">
                    <div class="col">
                        <p class="h2 mt-2 mb-3">UNLOCK THE WORLD OF ENTERTAINMENT</p>
                    </div>
                </div>
                <div class="row text-center" style="box-shadow: 0px 4px 2px 0px rgba(0, 0, 0,0.1);">
                    <div class="col">
                        <img src="assets/images/airtel-xstream-banner.png" alt="">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 80px;">
                    <div class="col">
                        <div class="card" style="width: 22rem;margin-left: 80px;margin-top: -100px;">
                            <p class="h6 text-center mt-2">Xstream Box</p>
                            <img src="assets/images/xstream-box.jpg" class="card-img-top mt-3" alt="..."
                                style="width:fit-content;margin-left: 100px;">
                            <div class="card-body">
                                <button class="btn4 mt-3">BUY NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 22rem;background-color: #fff;margin-top: -100px;">
                            <p class="h6 mt-2 text-center">Xstream Fiber</p>
                            <img src="assets/images/xstream-fiber.png" class="card-img-top mt-2" alt="..."
                                style="width:fit-content; margin-left: 80px;">
                            <div class="card-body">
                                <button class="btn4">BUY NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card"
                            style="width: 22rem;margin-right: 110px; background-color: #fff;margin-top: -100px;">
                            <p class="h6 mt-2 text-center">Xstream App</p>
                            <img src="assets/images/xstream-app.png" class="card-img-top mt-2" alt="..."
                                style="width:fit-content;margin-left: 140px;">
                            <div class="card-body">
                                <button class="btn4">VIEW MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile mode -->
<div class="container-fluid d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row text-center">
                    <div class="col">
                        <img src="assets/images/xstream-logo.png" alt="">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <p class="h2 mt-2 mb-3">UNLOCK THE WORLD OF ENTERTAINMENT</p>
                    </div>
                </div>
                <div class="row text-center" style="box-shadow: 0px 4px 2px 0px rgba(0, 0, 0,0.1);">
                    <div class="col">
                        <img src="assets/images/airtel-xstream-banner.png" alt="" class="img2">
                    </div>
                </div>
                <div class="row" style="margin-top: -50px;">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="col">
                                <div class="card" style="width: 10rem;">
                                    <p class="h6 text-center mt-3 mb-2">Xstream Box</p>
                                    <img src="assets/images/xstream-box.jpg" class="card-img-top" alt="..."
                                        style="width:fit-content;">
                                    <div class="card-body">
                                        <button class="btn4_1 mt-1">BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="col">
                                <div class="card" style="width: 10rem;background-color: #fff;">
                                    <p class="h6 text-center mt-3 mb-2">Xstream Fiber</p>
                                    <img src="assets/images/xstream-fiber1.png" class="card-img-top mt-2" alt="..."
                                        style="width:fit-content;">
                                    <div class="card-body">
                                        <button class="btn4_1">BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="col">
                                <div class="card" style="width: 10rem;background-color: #fff;">
                                    <p class="h6 text-center mt-3 mb-2">Xstream App</p>
                                    <img src="assets/images/xstream-app1.png" class="card-img-top" alt="..."
                                        style="width:fit-content;margin: auto;">
                                    <div class="card-body">
                                        <button class="btn4_1">VIEW MORE</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main12">
    <div class="container">
        <div class="row">
            <div class="col mb-5 pt-5 ms-md-5">
                <p class="h4 text-white mt-0 mt-md-5">AIRTEL UNLIMITED PREPAID</p>
                <p class="main8"></p>
                <p class="h2 text-white mt-4">TALK UNLIMITED</p>
                <p class="h6 text-white mt-3">Our best plans, our best prices, on the<br> best network</p>
                <button class="btn3_1 mt-3">VIEW PREPAID PACKS<svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="13" y1="18" x2="19" y2="12"></line>
                        <line x1="13" y1="6" x2="19" y2="12"></line>
                    </svg></button>
                <P class="h6 text-white" style="font-size: 10px;margin-top: -10px;">*No IUC
                    charges</P>
            </div>
            <div class="col pt-0 pt-md-4 me-5">
                <picture>
                    <source srcset="assets/images/airtel-unlimited-talk1.png" media="(max-width:576px)" class="imag9">
                    <img src="assets/images/airtel-unlimited-talk.png" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main13">
    <div class="container">
        <div class="row">
            <div class="col order-2 order-md-1 wynk">
                <img src="assets/images/wynk-music1.png" alt="" class="d-block d-md-none imag12">
                <img src="assets/images/wynk-music.png" alt="" class="d-none d-md-block">
            </div>
            <div class="col order-1 order-md-2">
                <p class="h4 mt-4 mt-md-5">WYNK MUSIC</p>
                <p class="main8_1"></p>
                <p class="h2">GET FREE MUSIC</p>
                <p class="h6">Listen to your favorites on Wynk music</p>
                <button class="btn3_1">EXPLORE WYNK<svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="13" y1="18" x2="19" y2="12"></line>
                        <line x1="13" y1="6" x2="19" y2="12"></line>
                    </svg></button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main12">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col col-5 text-center">
                <img src="assets/images/download-app-img.png" alt="" class="imag">
            </div>
            <div class="col col-7 ps-4">
                <p class="text-white mt-5 mt-md-5 mb-4 fs-6">Experience
                    the all new
                    Airtel Thanks App</p>
                <img src="assets/images/airtel-thanks.png" alt="" class="imag1">
                <p class="h2 text-white imag2 mt-md-2">Get exclusive offers &amp;<br>account information at one
                    place.
                </p>
                <p class="h6 text-white mt-md-5 mt-3 imag3">Download Airtel Thanks App on.</p>
                <a href=""><img src="assets/images/app-store.png" alt="" class="imag4"></a>
                <a href=""><img src="assets/images/google-play.png" alt="" class="imag5"></a>
            </div>
        </div>
    </div>
</div>