<a target="_blank" href="https://wa.me/9310949314?text=thankyou%20for%20visiting"><img
        src="assets/images/whatsapp logo.png" alt="" class="logo"></a>
<div class="container-fluid" style="background-color: #DCDCDC;">
    <div class="container">
        <div class="row">
            <div class="col my-3">
                <p class="h6 d-inline me-5">Airtel 5G Plus</p>
                <p class="h6 d-inline me-5">Benefits</p>
                <p class="h6 d-inline">FAQs</p>
            </div>
        </div>
    </div>
</div>
<div class="container d-none d-md-block">
    <div class="row">
        <div class="col" style="margin-bottom: 950px;">
            <span style="margin-left:540px;"><img src="assets/images/5G_logo_plus.png" alt=""
                    style="margin-top: 300px;"></span><br>
            <span style="margin-left:450px;"><img src="assets/images/airtel_5g_animated.gif" alt=""></span>
        </div>
    </div>
</div>
<!-- mobile mode -->
<div class="container d-block d-md-none">
    <div class="row">
        <div class="col" style="margin-bottom: 200px;">
            <span style="margin-left: 120px;"><img src="assets/images/5G_logo_plus1.png" alt=""
                    style="margin-top: 150px;"></span><br>
            <span style="margin-left: 70px;"><img src="assets/images/airtel_5g_animated1.gif" alt=""></span>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col">
            <img src="assets/images/download_icon_red.png" alt="">
            <p class="h1 fs-md-1 fs-0">Upto 30x faster<br><span style="color: #D40000;">downloads</span></p>
            <p class="h3 fs-5 fs-md-0">Download an HD movie within seconds</p>
        </div>
        <div class="col">
            <img src="assets/images/30x_faster.gif" alt="" class="imag24">
        </div>
    </div>
</div>
<div class="container d-none d-md-block">
    <div class="row">
        <div class="col">
            <p class="h1" style="margin-left: 300px;font-size:50px;">Experience the power of 5G</p>
        </div>
    </div>
    <div class="row mt-5" style="margin-bottom: 200px;">
        <div class="col" style="margin-left: 190px;">
            <div style="width: 400px; height:300px;background-color:#454545;border-radius: 20px;">
                <p class="h1" style="color: #fff;margin-left: 20px;padding-top: 20px;">Is your handset 5G ready?</p>
                <p class="h3" style="color:#fff;margin-top: 130px;margin-left:20px;">Click Here <img
                        src="assets/images/right arrow.png" alt=""></p>
                <img src="assets/images/app_show.png" alt="" style="margin-top: -195px;margin-left:230px">
            </div>
        </div>
        <div class="col" style="margin-right: 250px;">
            <div style="width: 400px; height:300px;background-color:#374150;border-radius: 20px;">
                <p class="h2" style="color: #fff;margin-left:20px;padding-top:30px">Discover more<br>
                    about Airtel 5G Plus</p>
                <span style="margin-left:155px;"><img src="assets/images/preview.png" alt=""
                        style="margin-top: -35px;"></span>
                <p class="h3" style="color:#fff;margin-left:20px;margin-top: -60px;">
                    Explore more<img src="assets/images/right arrow.png" alt="">
                </p>
            </div>
        </div>
    </div>
</div>
<!-- mobile mode -->
<div class="container d-block d-md-none">
    <div class="row">
        <div class="col">
            <p class="h1" style="font-size: 40px;margin-top:50px">Experience the<br>power of 5G</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div style="width: 350px; height:300px;background-color:#454545;border-radius: 20px;margin-left: 10px;">
                <p class="h1" style="color: #fff;margin-left: 20px;padding-top: 20px;">Is your handset 5G<br>ready?
                </p>
                <p class="h3" style="color:#fff;margin-top: 140px;margin-left:20px;">Click Here <img
                        src="assets/images/right arrow.png" alt=""></p>
                <img src="assets/images/app_show.png" alt="" style="margin-top: -156px;margin-left:190px">
            </div>
        </div>
        <div class="col" style="margin-right: 250px;margin-top: 20px;">
            <div style="width: 350px; height:300px;background-color:#374150;border-radius: 20px;margin-left: 10px;">
                <p class="h2" style="color: #fff;margin-left:20px;padding-top:30px">Discover more<br>
                    about Airtel 5G Plus</p>
                <span style="margin-left:110px;"><img src="assets/images/preview.png" alt=""
                        style="margin-top: -18px;"></span>
                <p class="h3" style="color:#fff;margin-left:20px;margin-top: -60px;">
                    Explore more<img src="assets/images/right arrow.png" alt="">
                </p>
            </div>
        </div>
    </div>
</div>